/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-logo {
    margin-right: 2rem;
}
.nav-logo__img {
}
.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}
.menu__item {
}
.menu__link {
    text-decoration: none;
    color: #081D43;
    padding: 0 1rem;
    
}
.header__link{
    background-color: #0050C8;
    padding: 0.8rem 1.5em;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
}

/* Header Bottom */

.header-bottom{
    margin-top: 6rem;
}
.header-content{
    display: flex;
    align-items: center;
}
.header-content__left{
    flex-basis: 50%;
}
.header-content__right{
    flex-basis: 50%;
}
.header-content__wrapper{
    max-width: 28rem;
}
.header-content__title{
    color: #081D43;
    font-family: 'TTNorms Medium';
    font-weight: normal;
    line-height: 2.5rem;
}
.header-content__text{
    color: #6C7890;
    line-height: 2rem;
}
.header-content__links{
    display: flex;
    margin-top: 1.5rem;
}
.header-content__link{
    background-color: #0050C8;
    padding: 0.8rem 1.5em;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-right: 0.8rem;
    display: block;
    width: 10rem;
    text-align: center;
}
.header-content__link:nth-child(1){
    background-color: #87BC25;
}
.header-content__right{

}
.header-content__img{
    width: 100%;
}


/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
